VITE_SUPABASE_URL=https://vilpnuccpcxhathttzuh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpbHBudWNjcGN4aGF0aHR0enVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4MDMzNzIsImV4cCI6MjA5NjM3OTM3Mn0.B4wJ5Yz5FlbFmI36ntJIgQkKpQf80VAHaD70y8q0r50
VITE_AI_API_URL=http://127.0.0.1:8000
